<div class="container">
  <h1 class="text-center">SKATEZAR</h1>

  <div class="d-flex justify-content-around">

    <%= link_to "homepage", items_path, class: "btn btn-info "%>
    <%= link_to "sell", new_item_path, class: "btn btn-info "%>
  </div>

</div>


<br>

